<html>
    <body>
        <h1> Predict Default </h1>
        <form action = "/" method="POST">
            <p>Please enter the Income amount</p>
            <p><input type="number" step="100" name="income"></p>
            <p> Please enter your Age</p>
            <p><input type="number" step="1" name="age"></p>
            <p> Please enter Loan amount</p>
            <p><input type="number" step="100" name="loan"></p>
            <p><input type="submit" value="Enter"></p>
        </form> 
        {{result}}
    <body>
</html>
