<html>
    <body>
        <h1> Predict Default </h1>
        <form action = "/" method="POST">
            <p> Please select the model</p>
            <p><select name="model" id="model_type">
                    <option value="logreg">Logistic Regression</option>
                    <option value="tree">Decision Tree</option>
                    <option value="forest">Random Forest</option>
                    <option value="xg">XG Boost</option>
                    <option value="nn">Neural Network</option>
                </select></p>
            <p>Please enter the Income amount</p>
            <p><input type="number" step="100" name="income"></p>
            <p> Please enter your Age</p>
            <p><input type="number" step="1" name="age"></p>
            <p> Please enter Loan amount</p>
            <p><input type="number" step="100" name="loan"></p>
            <p><input type="submit" value="Enter"></p>
        </form> 
        {{result}}
    <body>
</html>
